{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-page">
  <h2 align="center">Login</h2>
  <form method="post" class="register-form">
    {% csrf_token %}


      <div class="form">
          {% if form.errors %}
          <ul class="errorlist nonfield"><li>Please enter a correct username and password. Note that both fields may be case-sensitive.</li></ul>
          {% endif %}
        {% for field in form %}
        <div class="tag">
        {{ field.label_tag}}
        </div>
      <div class="field">
        {{field}}
      </div>
      {% endfor %}
      <button type="submit">Login</button><br><br>

      <a href="">Forgot Password?</a><br><br>
      <a href="{% url 'users:signup' %}"> Sign Up</a><br><br>
    </div>
  </form>
</div>
{% endblock %}