{% extends 'base.html' %}
    {% block content %}
   {% load staticfiles %}
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'dashboard:home' %}">
                        <h2>CATEINA</h2>
                    </a>
                </div>

                 <span class="logout-spn" >
                  <a href="{% url 'login' %}" style="color:#fff;">LOGOUT</a>

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    {% block image %}
                    {% if user.image %}
                    <img class="image1" src="{{user.image.url}}" height="150px" width="150px" hspace="55px">
                    {% endif %}
                    {% endblock %}

                    {% block homeactive %}
                     <li >
                        <a href="{% url 'dashboard:home' %}" ><i class="fa fa-desktop "></i>Home</a>
                    </li>
                    {% endblock %}

                    {% block profileactive %}
                    <li>
                        <a href="{% url 'dashboard:profileview' %}"><i class="fa fa-table "></i>Profile</a>
                    </li>
                    {% endblock %}

                    {% block postactive %}
                    <li >
                        <a href="{% url 'dashboard:applyleave' %}"><i class="fa fa-edit "></i>Leave Application</a>
                    </li>
                    {% endblock %}

                    {% block birthdaylistactive %}
                 <li>
                      <a href="{% url 'dashboard:birthday_list' %}"><i class="fa fa-qrcode "></i>Birthday List</a>
                    </li>
                    {% endblock %}

                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i>Detail View</a>
                    </li>
                    {% block approval %}
                    <li>
                        <a href="{% url 'dashboard:approval' %}"><i class="fa fa-edit "></i>Approval </a>
                    </li>
                    {% endblock %}
                    <li>
                        <a href="#"><i class="fa fa-table "></i>My Link Four</a>
                    </li>
                     <li>
                        <a href="#"><i class="fa fa-edit "></i>My Link Five </a>
                    </li>
                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        {% block mainpage %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>{{ user.username }}'s Profile </h2>
                    </div>
                </div>
                 <!-- /. ROW  -->
                  <hr />

                 <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
        </div>
        {% endblock %}
         <!-- /. PAGE WRAPPER  -->
        </div>
    <div class="footer">


             <div class="row">
                <div class="col-lg-12" >
                    &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;"  target="_blank">www.binarytheme.com</a>
                </div>
        </div>
        </div>
{% endblock %}