{% extends 'dashboard/sidebar.html' %}

{% block title %}Posts{% endblock %}


{% block mainpage %}

<div id="page-wrapper">
  <div id="page-inner">
  <h2>Leave Application</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Post</button>
  </div>
</div>

{% endblock %}


{% block postactive %}


<li class="active-link">
                      <a href="{% url 'dashboard:applyleave' %}"><i class="fa fa-qrcode "></i>Leave Application</a>
                    </li>

{% endblock %}
